<div class="grid">
    <div class="col-6">
        <app-first-animation></app-first-animation>
    </div>
    <div class="col-6">
        <app-second-animation></app-second-animation>
    </div>
    <div class="col-6">
        <app-third-animation></app-third-animation>
    </div>
    <div class="col-6">
        <app-fourth-animation></app-fourth-animation>
    </div>
    <div class="col-6">
        <app-fifth-animation></app-fifth-animation>
    </div>
    <div class="col-6">
        <app-sixth-animation></app-sixth-animation>
    </div>
    <div class="col-6">
        <app-seventh-animation></app-seventh-animation>
    </div>
    <div class="col-12">
        <app-router-animation></app-router-animation>
    </div>
</div>