<div class="app-header-menu">
    <a pButton pRipple class="p-button-link" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/']">Home</a>
    <a pButton pRipple class="p-button-link" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/', 'pokemon']">Pokemon List</a>
    <a pButton pRipple class="p-button-link" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/', 'di']">Depedency Injection</a>
    <a pButton pRipple class="p-button-link" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/', 'animations']">Animations</a>
    <a pButton pRipple class="p-button-link" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/', 'lifecycle']">Lifecycle</a>
</div>