@keyframes bounce {
    0%{
        transform: rotate(-5deg);
    }
    50% {

        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg)
    }
}

.swing{
    display: inline-block;
    animation: bounce 1s infinite;
    transform-origin: 50% 80%;
}