<div class="grid">
    <div class="col-6">
        <p-card header="DI - Playground">
            Page Component:
            <p>
                The annimal here is: <strong>{{animals.kind}}</strong> <input type="text" [(ngModel)]="animals.kind">
            </p>
            <hr>
            <app-child>
                <app-grandchild></app-grandchild>
            </app-child>
        </p-card>
    </div>
    <div class="col-6">
        <p-card header="DI - Playground">
            Page Component:
            <p>
                The annimal here is: <strong>{{animals.kind}}</strong> <input type="text" [(ngModel)]="animals.kind">
            </p>
            <hr>
            <app-child>
                <app-grandchild></app-grandchild>
            </app-child>
        </p-card>
    </div>
</div>